{% extends 'main/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
    <h2>What is this?</h2>
    <div class = "about_text_content">
        <p>
            Social Credit System refers to a national social credit system used to provide Chinese citizens
            and business with a score using mass surveillance and data analysis.
            The system has been widely criticized as an Orwellian and authoritarian by privacy advocates.
            In 2021, the system became a subject of memes, primarily of reaction images and
            videos awarding or deducting social credit score.
        </p>
        <p>
            Popularization of memes referencing the social credit system began in December 2020
            on Russian imageboard 2ch (Двач), spreading to the West in Summer 2021.
        </p>
        <p>
            Staring in February 2021, users on 2ch created reaction images to support the trend,
            with many images announcing that a user was awarded or stripped of social credit points.
            Among them, an English version of such reaction image was created.
        </p>
        <p>
            From Russia, the trend received spread to the West in Summer 2021.
        </p>
        <p>
            And this site is just a joke and a meme.<br>
            Here you can take a parody test based on memes.
        </p>
    </div>
{% endblock %}